@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(255, 242, 249);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
