@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --col-primary: #e63946;
  --col-secondary: #f1faee;
  --col-accent2: #457b9d;
  --col-text: #1d3557;
  --col-backdrop: #1d35575d;
  --colr-error: red;
}

html,
body {
  background-color: var(--col-secondary);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

h1 {
  margin: 0 0.4em;
  text-transform: uppercase;
}

p,
h2 {
  margin: 0.4em;
  text-transform: capitalize;
  color: var(--col-text);
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.title {
  margin: 1em 0 0;
  text-align: center;
}
.title div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title h1 {
  color: var(--col-accent2);
}
.title h2 {
  font-size: 2.3rem;
}

.output {
  height: 60px;
  font-size: 0.8rem;
}

.error {
  color: var(--colr-error);
}

/* progress bar style */
.progress-bar {
  height: 5px;
  background-color: var(--col-primary);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}

/* imageGrid */
.image-grid {
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.image-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly squared regardless of width. */
  position: relative;
  opacity: 0.8;
}
.image-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 50%;
  object-fit: cover;
  max-width: 150%;
}

/* model display */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--col-backdrop);
  z-index: 2;
}
.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 1em auto;
  transform: translate(0, 20%);
  box-shadow: 3px 2px 5px #000;
  border: solid 2px var(--col-accent2);
  border-radius: 10px;
}
